@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;

}
.navbar{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding:20px 0 !important;
}
div.navbar-nav > a{
    margin-left: 20px;
}
div.navbar-nav > a:active,
div.navbar-nav > a:hover{
    color: chartreuse !important;
}
.Harding{
    position: absolute;
    top: 40%;
    width: 100%;
    max-width: 100%; 
}
.Harding h5{
    font-size: 4rem;
    color: white;
    font-weight: 350;
    
}
.Harding h1{
    font-size: 8rem;
    color: white;
    font-weight: bolder;
    font-family: 'Licorice', cursive;
    overflow:hidden;
    
}
.Harding p{
    font-size: 1rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.7rem;
    
}
/* ....................................about me Start................... */
.aboutme{
    font-weight: bolder;
}
/* .img2{
    width:70% ;
    /* margin-left: 10rem; */
    margin-bottom: 5px;
} 

.btmmail{
    font-size: 100px;
}
#mailme{
    color: white;
    text-decoration:none;
    font-size: 1rem;
    
}
.button1{
    background-color: #343a40 !important;
    width: 50%;
}
#mailme:hover{
    color: #7fff00;
}
/* .....................footer start....................... */
.bgcolor{
    background-color: #3a3939;
}
.ancher ul li a{
    text-decoration:none;
    color: white;
}
.ancher ul li a:hover{
    text-decoration:underline;
    color: #7fff00;
}
.social{
    text-decoration:none;
    color: white;
}
.social:hover{
    color:#7fff00 ;
}
.offset:before{
    display: block;
    content: '';
    height: 6rem;
}
/* ................media query....................... */
@media only screen and (max-width: 767px) {
.navbar{
    letter-spacing: 0.1em;
    padding: 10px 0;
}
.Harding{
    position: absolute;
    top: 20%;
    width: 100%;
    max-width: 100%; 
}    
.Harding h5{
    font-size: 3em;
    
}
.Harding h1{
    font-size: 3em;
    
    
}
.Harding p{
    font-size: 0.9em;
    
}

}
@media only screen and (max-width: 479px) {
    .navbar{
        letter-spacing: 0em;
        padding: 5px 0;
    }
    .Harding{
        position: absolute;
        top: 10%;
        width: 100%;
        max-width: 100%; 
    }    
    .Harding h5{
        font-size: 3em;
        
    }
    .Harding h1{
        font-size: 3em;
        
        
    }
    .Harding p{
        font-size: 0.9em;
        
    }
}
